*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: #000000;
    /* margin-inline: auto; */
    /* display: block; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.popup_box{
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #000000;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #fff;
    padding: 20px 50px;
    font-size: 20px;
    transform: translateX(200%);
    transition: .3s ease;
}
.popup_box span{
    color: red;
}
.popup_box.active{
    transform: translateX(0);
}
button{
    padding: 20px 30px;
    background-color: green;
    color: aliceblue;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
button:active{
    background-color: rgb(4, 62, 4);
}
.output input{
    padding: 20px 30px 20px 55px;
    border: none;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}
.output{
    margin-bottom: 20px;
    position: relative;
}
.output span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4f4f4f;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px 0 0 5px;
    color: #fff;
}

h1{
    margin-bottom: 50px;
    /* color: #fff; */
    text-shadow: 3px 2px #fff;
}